html,body {
	height: 100%;
	width: 100%;
}

body{
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	color:#F8F8F8 ;
}

h1{
	font-family: 'Nunito', sans-serif;
}
hr{
	border-width: 2px;
	max-width: 80px;
	border-color: none;
}

.faded{
	color: rgba(255,255,255,0.8);
}

header.startup{
	background-image: url(sign-up-campaigns.jpg);
	background-size: cover;
	background-position: center;
	height: 100%;
}

header.startup hr{
	margin-top: 30px;
	margin-bottom: 30px;
}

header.start-up h1{
	font-size: 2rem;
}

form {
	font-size: 15px
}

p{
	font-family: 'PT Sans', sans-serif;
	font-size: 23px;
}

.btn{
	font-weight: 700px;
	text-transform: uppercase;
	border-radius: 300px;
	font-family: 'Ubuntu', sans-serif;
}

.btn-xl{
	padding: 1rem 2rem;
}

.btn-primary{
	background-color: #116611;
	border-color: #88CC88;
}

.btn-primary:hover {
	background-color: #550000;
	border-color: #EB5454;
	border-width: 2px;
	cursor: pointer;
}


input[type=text], input[type=password], input[type=email]{
	width: 100%;
	padding: 10px;
	margin: 2px 15px 10px 0 ;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus{
	 background-color: #ddd;

}

#id01{
	text-align: left;
	margin-left: 12rem;
	margin-right: 15rem;

}